
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="/static/assets/brand/coreui.svg#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          <use xlink:href="/static/assets/brand/coreui.svg#signet"></use>
        </svg>
      </div>

      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">


        <li class="nav-title">Dashboards</li>

        <li class="nav-item"><a class="nav-link" href="index">
            <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg>Projects Dashboard</a></li>

        <li class="nav-item"><a class="nav-link" href="/dashboard-value">
            <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-money"></use>
            </svg> Value Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>


        <li class="nav-title">Extras</li>

        <li class="nav-item"><a class="nav-link" href="newsletters">
            <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-newspaper"></use>
            </svg> Blogs &amp; News</a></li>

        <li class="nav-item"><a class="nav-link" href="training">
              <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-education"></use>
              </svg> Training</a></li>

        <li class="nav-item"><a class="nav-link" href="examples">
              <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bookmark"></use>
              </svg> Examples</a></li>

        <!-- <li class="nav-item"><a class="nav-link" href="tutorials">
              <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
              </svg> Tutorials</a></li> -->

        <li class="nav-item"><a class="nav-link" href="challenges">
              <svg class="nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg> Challenges</a></li>


        <li class="nav-title">About</li>

        <li class="nav-item"><a class="nav-link" href="about-logic">
          <svg class="nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chat-bubble"></use>
          </svg> About Logic</a></li>

          <li class="nav-item"><a class="nav-link" href="faqs">
            <svg class="nav-icon">
            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-info"></use>
            </svg> FAQS</a></li>

    <li class="nav-item"><a class="nav-link" href="contact">
          <svg class="nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-contact"></use>
          </svg> Contact Us</a></li>

      </ul>
    </div>
    