{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock stylesheets %}

{% block content %}
<div class="card">
    <div class="card-header"> 
        <strong>Projects Overview</strong>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="projects-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Default Branch</th>
                        <th>Last Activity</th>
                        <th>Web URL</th>
                        <!-- <th>Type</th> -->
                        <th>CI/CD</th> <!-- New column header -->
                        <th>Docker</th> <!-- New column header -->
                        <th>Cyberark</th> <!-- New column header -->
                        <th>Web URL</th>
                        <th>Total Branches</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects_v2 %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.created_at }}</td>
                        <td>{{ project.default_branch }}</td>
                        <td class="last-activity" data-timestamp="{{ project.last_activity_at }}">{{ project.last_activity_at }}</td>
                        <td>
                            {% if project.ui == 1 %}
                                UI
                            {% elif project.batch == 1 %}
                                Batch
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td>
                            {% if project.ci_file_exists == 1 %}
                                <i class="fa fa-check-circle" title="Uses CI/CD"></i>
                            {% else %}
                                <i class="fa fa-times-circle" title="Doesn't use CI/CD"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if project.docker_file_exists == 1 %}
                                <i class="fa fa-check-circle" title="Uses Docker"></i>
                            {% else %}
                                <i class="fa fa-times-circle" title="Doesn't use Docker"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if project.CYBERARK %}
                                <i class="fa fa-check-circle" title="Uses Cyberark"></i>
                            {% else %}
                                <i class="fa fa-times-circle" title="Doesn't use Cyberark"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ project.web_url }}" target="_blank">Open</a></td>
                        <td>{{ project.branch_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Plugins and scripts required by this view-->
<script> var API_URL = "{{ API_URL }}"; </script>
<!-- <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script> -->
<!-- <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script> -->
<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/assets/js/main.js"></script>
<!-- <script src="/static/assets/js/index.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000);
    var interval = Math.floor(seconds / 31536000);

    if (interval > 1) return interval + " years ago";
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) return interval + " months ago";
    interval = Math.floor(seconds / 86400);
    if (interval > 1) return interval + " days ago";
    interval = Math.floor(seconds / 3600);
    if (interval > 1) return interval + " hours ago";
    interval = Math.floor(seconds / 60);
    if (interval > 1) return interval + " minutes ago";
    return "just now";
}

$(document).ready(function() {
    $('#projects-table').DataTable({
        "paging": true,
        "lengthChange": true,  // This allows users to change the number of rows displayed
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],  // Options for rows per page and an option to show all rows
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
    });

    // Update the 'last activity' columns to show relative time
    $(".last-activity").each(function() {
        var timestamp = new Date($(this).data("timestamp"));
        $(this).text(timeSince(timestamp));
    });
});
</script>
{% endblock javascripts %}
