{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}




{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Plugins and scripts required by this view-->
<script> var API_URL = "{{ API_URL }}"; </script>
<script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/index.js"></script>
<script></script>
{% endblock javascripts %}
<div class="table-responsive">
    <table class="table border mb-0">
        <!-- Table content... -->
    </table>
</div>
